$asset : "https://cdn.jsdelivr.net/gh/Pengeszikra/rogmor@master/assets/";

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

h1, p {
  // font-family: Lato;
  font-family: 'Acme', sans-serif;
  color: khaki;  
}

h1 { font-size: 1.5em; }

body {
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
  font-family: 'Acme', sans-serif;
}

.wireframe {
  background-image: url($asset + "img/pageback.jpg");
  background-color: '#000';
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: gold;

  h1 { color: goldenrod; }

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
pre { color: rgb(204, 186, 209); }

.page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  // background-image: url($asset + "img/pageback.jpg");
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.modal-window {
  // background-image: url($asset + "img/transPanelDark.png");
  background-repeat: no-repeat;
  min-height: 40vmin;
  min-width: 40vmin;
  color: whitesmoke;
  border-style: solid;
  border-width: 54px 130px 42px 101px;
  border-image: url($asset + "/img/transPanelDark.png") 54 130 42 101 fill repeat;
  // filter: hue-rotate(190deg) grayscale(.4) brightness(.5);
}

.button-b {
  border-style: solid;
  border-width: 15px 91px 11px 23px;
  border-image: url($asset + "buttonb.png") 15 91 11 23 fill repeat;
}

.button-b2 {
  border-style: solid;
  border-width: 0px 51px 0px 47px;
  border-image: url($asset + "buttonb2.png") 0 51 0 47 fill repeat;
}

.button-b3 {
  border-style: solid;
  border-width: 0px 16px 0px 59px;
  border-image: url($asset + "buttonb3.png") 0 16 0 59 fill repeat;
}

@import "./gui";
@import "./faces";
@import "./items";

.face-gallery {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
}