$asset : "https://cdn.jsdelivr.net/gh/Pengeszikra/rogmor@master/assets/";

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

h1, p {
  // font-family: Lato;
  font-family: 'Acme', sans-serif;
  color: khaki;  
}

pre {
  font-family: 'VT323', monospace;
}

h1 { font-size: 1.5em; }

body {
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
  font-family: 'Acme', sans-serif;
}

.wireframe {
  background-image: url($asset + "img/pageback.jpg");
  background-color: '#000';
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: gold;

  h1 { color: goldenrod; }

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
pre { color: rgb(204, 186, 209); }

.page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  // background-image: url($asset + "img/pageback.jpg");
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.modal-window {
  // background-image: url($asset + "img/transPanelDark.png");
  background-repeat: no-repeat;
  min-height: 40vmin;
  min-width: 40vmin;
  color: whitesmoke;
  border-style: solid;
  border-width: 54px 130px 42px 101px;
  border-image: url($asset + "/img/transPanelDark.png") 54 130 42 101 fill repeat;
  // filter: hue-rotate(190deg) grayscale(.4) brightness(.5);
}

.button-b {
  height: 6px;
  width: 100%;

  border-style: solid;
  border-width: 15px 91px 11px 23px;
  border-image: url($asset + "/img/buttonb.png") 15 91 11 23 fill repeat;
}

.button-b2 {
  height: 27px;
  width: 100%;

  border-style: solid;
  border-width: 0px 51px 0px 47px;
  border-image: url($asset + "/img/buttonb2.png") 0 51 0 47 fill repeat;
}

.button-b3 {
  height: 23px;
  width: 100%;

  border-style: solid;
  border-width: 0px 16px 0px 59px;
  border-image: url($asset + "/img/buttonb3.png") 0 16 0 59 fill repeat;
}

@import "./gui";
@import "./faces";
@import "./items";

.face-gallery {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
}

.invert {
  filter: invert(1) hue-rotate(210deg);
}

.gui.gui-storyw {
  position: relative;
  
  .face-sprite {
    position: absolute;
    top: 23px;
    left: 20px;
  }

  span {
    position: absolute;
    top: 42px;
    left: 70px;
    color: black;
  }

  pre {
    position: absolute;
    font-family: 'VT323', monospace;
    top: 53px;
    left: 20px;
    color: black;
  }
}

.button-b {
  position: relative;
}

.process-bar-indicator {
  height: 18px;
  width: 246px;
  background: rgb(22, 100, 15);
  position: absolute;
  top: -7px;
  left: -10px;
}

.modal-window-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;  
 }

.slice-9-grid-holder {
  position: relative;
  width: 100%;
  height: auto;
  //background: gold;
}

.slice-extra {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 234px);
  height: calc(100% - 114px);
  min-width: 0;
  min-height: 0;
  z-index: 1;
}

.slice-content {
  position: relative;
  color: whitesmoke;
  z-index: 2;
  margin: 2.2em 2em 3.4em 2em;
}

.battle-team {
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
}

.right-top {
  position: absolute;
  right: 1em;
  top: 1em;
}

.right-top-gothic {
  position: absolute;
  right: -1.4em;
  top: -1em;
}

.simple-button {
  width: 155px;
  height: 40px;
  background-position: -1px -100px; //-188
  
  user-select: none;
  &:hover { background-position: -1px -144px; }

  line-height: 40px;
  text-align: center;
  color: whitesmoke;  
}

.button-line {
  display: inline-block;
}